/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Codystar');

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');


@font-face {
  font-family: "JandaQuirkygirl";
  src: url("../assets/fonts/JandaQuirkygirl.ttf");
}

@font-face {
  font-family: "Chalk";
  src: url("../assets/fonts/Chalk.ttf");
}

@font-face {
  font-family: "CalamityJaneNF-Bold";
  src: url("../assets/fonts/CalamityJaneNF-Bold.otf");
}

@font-face {
  font-family: "CalamityJaneNF";
  src: url("../assets/fonts/CalamityJaneNF.otf");
}

@font-face {
  font-family: "MetroRetroNF";
  src: url("../assets/fonts/MetroRetroNF.otf");
}

/* Global Styling */

html {
  font-size: 18px;
}

body {
  font-size: 1em;
  font-family: 'CalamityJaneNF', 'Fira Mono', sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  height: 100vh;
  max-width: 1800px;
  background: linear-gradient(to right, #AF8E71, #E6DBCB);
}

.bg-img {
  background: url("../assets/images/intro-bg-xxl.jpg") no-repeat bottom center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 62%;
  height: 62vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

header, main, footer {
  width: 100%;
}

.img-footer {
  background-image: url("../assets/images/footer.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 795px;
  height: 400px;
  max-width: 100%;
}

.footer {
  font-family: 'Fira Mono', sans-serif;
  margin-top: 0;
  padding-left: 15px;
  min-height: 400px;
  width: 100%;
}

.footer > p {
  font-family: 'CalamityJaneNF', Helvetica, sans-serif;
}

.footer-item  {
  min-width: 100%;
}

/*Typography */
h1 {
  font-size: 2.2em;
}

.display-1 {
  font-size: 2.5em;
  font-family: 'MetroRetroNF', 'Codystar', cursive;
  font-weight: 300;
  color: #E52667;
  text-shadow: 2px 2px #444;
}

h2 {
  font-size: 1.8em;
  padding-top: 1em;
}

p, span {
  font-size: 1.3em;
  font-weight: 300;
}

.lead {
  font-family: 'CalamityJaneNF-Bold', Helvetica, sans-serif;
  font-size: 1.9em;
  font-weight: 400;
}

a {
  font-weight: 600;
  color: #E52667;
  text-shadow: 0.5px 0.5px #444;
}

/* Links */
a:focus,
a:hover {
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px #E52667;
}

a.btn-primary {
  background-color: #E52667;
  color: #E6DBCB;
  border-color: #444;
  font-family: 'Fira Mono', sans-serif;
  font-weight: bold;
}

a.btn-primary:hover {
  background-color: #FFF;
  color: #E52667;
  border-color: #E52667;
}
/* Social Media */
.social-media {
  max-width: 100%;
}
.social-name-link {
  font-size: 2em;
  padding: 0.3em;
}

/* Logo */
.logo {
  margin: auto;
  max-width: 100%;
}
/*Jumbotron */
.jumbotron {
  background: transparent;
  padding: 1em;
  max-width: 100%;
}

/*----------------------------------------*/
/* Media Queries */
@media (min-width: 768px) {
  .logo-social-media  {
    width: 35%;
  }

  .jumbotron {
    width: 65%;
  }

  .footer {
    margin-top: 5%;
    padding-left: 5%;
    margin-right: 5%;
  }

  .img-footer {
    max-width: auto;
    min-width: 100%;
  }
  /*Typography */
  h1 {
    font-size: 2.5em;
  }

  .display-1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }

  p, span {
    font-size: 1.6em;
  }

  .lead {
    font-size: 2em;
  }

}
